@font-face {
    font-family: hkRegular;
    src: url('../assets/fonts/HKGrotesk-Regular.woff2');
}

@font-face {
    font-family: hkItalic;
    src: url('../assets/fonts/HKGrotesk-Italic.woff2');
}

@font-face {
    font-family: hkBold;
    src: url('../assets/fonts/HKGrotesk-Bold.woff2');
}

@font-face {
    font-family: hkBoldItalic;
    src: url('../assets/fonts/HKGrotesk-BoldItalic.woff2');
}

@font-face {
    font-family: hkMedium;
    src: url('../assets/fonts/HKGrotesk-Medium.woff2');
}

@font-face {
    font-family: hkMediumItalic;
    src: url('../assets/fonts/HKGrotesk-MediumItalic.woff2');
}

@font-face {
    font-family: hkSemiBold;
    src: url('../assets/fonts/HKGrotesk-SemiBold.woff2');
}

@font-face {
    font-family: hkSemiBoldItalic;
    src: url('../assets/fonts/HKGrotesk-SemiBoldItalic.woff2');
}
