@import "_toolbox";

main {
    margin: auto;
    // padding-top: 5em;
    padding-left: 1em;
    padding-right: 1em;
    max-width: 900px;
    font-family: hkRegular;
    font-size: 1.2em;
    overflow: visible;

    @media #{$phone-rule} {
        padding-top: 0;
        font-size: 1em;
    }
}

i {
    font-family: hkItalic;
    font-style: normal;
}

h2 {
    margin-top: 1.5em;
}