---
import MaxWidth from "@components/MaxWidth.astro";
import Layout from "@layouts/Layout.astro";
---
<Layout title='404 - page not found'>
    <MaxWidth>
        <div class="prose">
            <h1>Nothing to see here...</h1>
            <p>Maybe you could read find something interesting to read on my <a href="/blog">blog</a></p>
        </div>
    </MaxWidth>
</Layout>