---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="Home">
  <main class="max-w-2xl mx-auto px-10 my-10">
    <p>
      I am Charles Vandevoorde. I am a (mostly backend) software engineer living
      in Belgium. My interests are ranging from distributed systems to
      architecture passing by web design.
    </p>
  </main>
</BaseLayout>
