---
import BlogEntry from "./BlogEntry.astro";

import { BlogMetadata } from "@lib/blog";

export interface Props {
  blogs: BlogMetadata[];
}

const { blogs } = Astro.props as Props;
---

<div>
  {
    blogs.length == 0 && (
      <p class="prose prose-zinc text-center">
        Empty. I should probably start writing...
      </p>
    )
  }
  {blogs.map((blog) => <BlogEntry blog={blog} />)}
</div>
