---
---

<header class="py-4 md:py-10">
  <nav class="flex space-x-6">
    <div class="grow">
      <a href="/" class="font-bold hover:text-slate-700"
        >Charles<br /> Vandevoorde</a
      >
    </div>
    <!-- TODO -->
    <!-- <a href="/projects" class="hover:text-slate-700">Projects</a>
    <a href="/resume" class="hover:text-slate-700">Resume</a>
    <a href="/blog" class="hover:text-slate-700">Blog</a> -->
  </nav>
</header>
