---
export interface Props {
  class?: string;
}

const clazz = (Astro.props as Props).class;
---

<div
  class={`${
    clazz !== undefined ? clazz : ""
  } max-w-screen-lg p-4 m-auto w-full`}
>
  <slot />
</div>
