---
import Header from "@components/Header.astro";

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      href="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2020%2020'%3E%3Ctext%20x='0'%20y='14'%3EðŸ»%3C/text%3E%3C/svg%3E"
      type="image/svg+xml"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | Charles Vandevoorde</title>
    <meta name="description" content={description || ""} />
  </head>
  <body class="text-gray-900 max-w-2xl px-4 md:px-0 mx-auto">
    <Header />
    <main class="py-10">
      <slot />
    </main>
    <footer></footer>
  </body>
</html>
